<header id="header" class="transparent-header dark full-header no-sticky" style="background:#691F98;">

  <div id="header-wrap">
    
    <div class="container clearfix" style="padding: 0 !important;width:100%;">

      <!-- Logo
      ============================================= -->
      <div id="logo" class="logo-hide-k">
        <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="https://s3.us-east-2.amazonaws.com/dome-web-assets/logo-dark%402x.png"><img src="https://s3.us-east-2.amazonaws.com/dome-web-assets/logo-dark%402x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation 
      ============================================= -->
      <nav id="primary-menu">

        <ul style="width: 100vw;">

          <li class="mega-menu submenu" style="position: relative;"><a href="https://domeha.com/shop"><div>Shop</div></a>
            <ul style="background-color: #220E2F !important; position:absolute; display:none;">
              <li style="display:block;" ><a href="https://domeha.com/z-wave-siren-sensor">Siren</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-mouse-trap">Mouser</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-leak-sensor">Leak Sensor</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-motion-sensor">Motion Detector</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-door-window-sensor">Door/Window Sensor</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-door-and-window-sensor-pro">Door/Window Sensor Pro</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-water-main-shut-off-valve">Water Main Shut-Off</a></li>
              <li style="display:block;" ><a href="https://domeha.com/z-wave-plug-on-off-switch">On/Off Plug-In Switch</a></li>
              <li style="display:block;" ><a href="https://domeha.com/shop">All Products</a></li>
            </ul>
          </li>

          <li class="current"><a style="color:white;" href="https://domeha.com/dealers"><div>Integrators</div></a>

          </li>
        
          <li class="mega-menu">
            <a href="https://domeha.com/" class="standard-logo" data-dark-logo="https://s3.us-east-2.amazonaws.com/dome-web-assets/logo-dark%402x.png"><img src="https://s3.us-east-2.amazonaws.com/dome-web-assets/logo-dark%402x.png" style="position: relative; margin-top: -8rem; top: 3.8rem; height: 100px; width: 125px;" alt="Canvas Logo"></a>
          </li>


          <li class="mega-menu"><a href="https://domeha.com/how-tos"><div>How-Tos</div></a>

          </li>

             <li class="mega-menu"><a style="color:white;" href="https://dome.zendesk.com"><div>Support</div></a>

          </li>

        </ul>

        <!-- Top Cart
        ============================================= -->

        <!-- Top Search
        ============================================= -->
        <!--<div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><! #top-search end -->

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
<div id="ticket" style="position:absolute; right:3.9rem; top:3.9rem;z-index:999;">
<% if spree_current_user %>
  <a href="/account" style="color:white;font-weight:900;letter-spacing:1px;font-family: 'Raleway', sans-serif;font-size:13px !important;">ACCOUNT</a>
  <a href="/logout"style="color:white;margin-left:1rem;font-weight:900;letter-spacing:1px;font-family: 'Raleway', sans-serif;font-size:13px !important;line-height:22px;">LOGOUT</a>
<% else %>
  <a style="color:white;margin-left:1rem;font-weight:900;letter-spacing:1px;font-family: 'Raleway', sans-serif;font-size:13px !important;line-height:22px;" href="/login">LOGIN</a>
<% end %>
  
  
</div> 